{% extends 'main/base.html' %}


{% block title %}
About Us
{% endblock %}

{% block content %}
<h1>About Us</h1>
<p>Example Company was founded in 2010 with the mission to provide quality products and services to our customers. We specialize in XYZ and have worked with clients in various industries including ABC, DEF, and GHI.</p>
<p>Our team consists of experienced professionals who are passionate about their work and dedicated to helping our clients succeed. We believe in building strong relationships with our customers and providing personalized solutions to meet their specific needs.</p>
<p>At Example Company, we are committed to excellence in everything we do. We constantly strive to improve our processes and services to ensure that we are delivering the best possible outcomes for our clients.</p>
{% endblock %}